<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SGUIDE</display-name>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>kr.co.takeit.web.listener.TakeConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>kr.co.takeit.web.listener.SessionCountListener</listener-class>
  </listener>f
  <context-param>
    <param-name>licenseLocation</param-name>
    <param-value>/license/easybam.lic</param-value>
  </context-param>
  <context-param>
    <param-name>logConfigLocation</param-name>
    <param-value>/log/log4jdbc.log4j2.properties</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
				classpath*:spring/context/context-*.xml
				classpath*:spring/context/datasource/context-*.xml
				classpath*:spring/mapper/context-*.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:spring/mvc-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>360</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <servlet>
    <servlet-name>XExportImport</servlet-name>
    <servlet-class>com.nexacro17.xeni.services.GridExportImportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XImport</servlet-name>
    <servlet-class>com.nexacro17.xeni.services.GridExportImportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XExportImport</servlet-name>
    <url-pattern>/XExportImport.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XImport</servlet-name>
    <url-pattern>/XImport.do</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>export-path</param-name>
    <param-value>/export</param-value>
  </context-param>
  <context-param>
    <param-name>import-path</param-name>
    <param-value>/import</param-value>
  </context-param>
  <context-param>
    <param-name>monitor-enabled</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>monitor-cycle-time</param-name>
    <param-value>30</param-value>
  </context-param>
  <context-param>
    <param-name>file-storage-time</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>numFmt-lang</param-name>
    <param-value>ko</param-value>
  </context-param>
</web-app>